.App {
  text-align: center;  
  align-items: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #100c03;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-custom{
  background-color: #eed49a;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  padding-top:20%;
}

.textColor{
  color: white;
}

.place {
  margin-top: 0.3rem;
  vertical-align: baseline;


}

.inputPlace{
  width: 30px;
  height:20px;

}

.result{
  color: rgb(51, 10, 10);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* For checkboxes */
.App1 {
  padding-top: 6%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

h4 {
  text-align: center;
  padding-bottom:2%;
}

.topping {
  margin-top: 0.3rem;
  vertical-align: text-bottom;
}

.result {
  margin-top: 1rem;
}

.places-list,
.total {
  width: 40%;
  margin: 0 auto;
}

.places-list {
  list-style: none;
  padding: 0;
}

.places-list li {
  margin-bottom: 0.5rem;
}

.places-list-item {
  display: flex;
  justify-content: space-between;
  
}

.places-list li:last-child {
  border-top: 1px solid #ccc;
  margin-top: 1rem;
  padding-top: 1rem;
  font-size:18px;
  font-weight: 500;
}

.places-list-item label {
  vertical-align: text-bottom;
  margin-left: 0.2rem;
  font-size: larger;
}

.total {
  margin-top: 1rem;
}

@media screen and (max-width: 600px) {
  .places-list,
  .total {
    width: 90%;
  }
}

.image-center{
  text-align: center;
  display: block;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 100%;
}

.btn1{
  overflow-y: hidden;
  display:none;
  visibility: hidden;
}

/*CARDS*/

img{
  height:150px;
  width:100%;
}

.item{
  padding-left:5px;
  padding-right:5px;
}
.item-card{
  transition:0.5s;
  cursor:pointer;
}
.item-card-title{  
  font-size:15px;
  transition:1s;
  cursor:pointer;
}
.item-card-title i{  
  font-size:15px;
  transition:1s;
  cursor:pointer;
  color:#ffa710
}
.card-title i:hover{
  transform: scale(1.25) rotate(100deg); 
  color:#18d4ca;
  
}
.card:hover{
  transform: scale(1.05);
  box-shadow: 10px 10px 15px rgba(0,0,0,0.3);
}
.card-text{
  height:80px;  
}

.card::before, .card::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: scale3d(0, 0, 1);
  transition: transform .3s ease-out 0s;
  background: rgba(255, 255, 255, 0.1);
  content: '';
  pointer-events: none;
}
.card::before {
  transform-origin: left top;
}
.card::after {
  transform-origin: right bottom;
}
.card:hover::before, .card:hover::after, .card:focus::before, .card:focus::after {
  transform: scale3d(1, 1, 1);
}

.container-res{
  align-items: center;
  padding:5% 5% 10% 23%;
  background-color: #438587;
  min-height: 100vh;
}

.spaceButtons{
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.leaflet-container {
  width: 100%;
  height: 100vh;
  z-index: 1;
}
